<div class="server-form">

    <div class="page-header">

        <h1>Add Server</h1>

    </div>

    <div class="form-card">

        <div class="input-group">

            <label>Name</label>

            <input id="server-name" type="text">

        </div>

        <div class="input-group">

            <label>IP Address</label>

            <input id="server-ip" type="text">

        </div>

        <div class="input-group">

            <label>Description</label>

            <input id="server-description"></input>

        </div>

        <div class="input-group">

            <label>Operating System</label>

            <select id="server-os">

                <option>Windows Server</option>
                <option>Windows</option>
                <option>Linux</option>
                <option>Synology DSM</option>
                <option>Proxmox</option>
                <option>VMware ESXi</option>

            </select>

        </div>

        <div class="form-buttons">

            <button class="secondary-btn" id="cancel-server-btn" data-page="servers.html" type="button">
                Cancel
            </button>

            <button id="delete-server" type="button" class="danger-btn" hidden>
                Delete Server
            </button>   

            <button id="save-server" class="primary-btn">
                Save Server
            </button>

        </div>

    </div>

</div>