<div class="servers-page">

    <div class="page-header">

        <div>
            <h1>Servers</h1>
            <p>Manage your infrastructure and quickly access your machines.</p>
        </div>

        <button class="primary-btn" id="add-server" data-page="servers/add_server.html">
            + Add Server
        </button>

    </div>


    <div class="search-bar">

        <input
            type="text"
            id="server-search"
            placeholder="Search by name, IP or description...">

    </div>


    <div id="servers-list" class="servers-grid">

        <!-- Os servidores aparecem aqui automaticamente -->

    </div>


</div>