<div class="page-header">
    <h1>Settings</h1>
    <p>Application configuration</p>
</div>


<div class="settings-container">


    <div class="settings-card">

        <div class="settings-title">
            <i class="fa-solid fa-gear"></i>
            <h3>General</h3>
        </div>


        <div class="setting-item">

            <div>
                <h4>Application name</h4>
                <p>Name displayed in the application</p>
            </div>

            <input 
                type="text" 
                class="setting-input"
                value="Monitor Tools"
            >

        </div>


        <div class="setting-item">

            <div>
                <h4>Start with Windows</h4>
                <p>Launch application automatically</p>
            </div>


            <label class="switch">

                <input type="checkbox">

                <span class="slider"></span>

            </label>

        </div>


    </div>




    <div class="settings-card">


        <div class="settings-title">

            <i class="fa-solid fa-server"></i>
            <h3>Monitoring</h3>

        </div>


        <div class="setting-item">


            <div>
                <h4>Check interval</h4>
                <p>Time between server checks</p>
            </div>


            <select class="setting-input">

                <option>5 seconds</option>
                <option>10 seconds</option>
                <option>30 seconds</option>
                <option>1 minute</option>

            </select>


        </div>



        <div class="setting-item">


            <div>
                <h4>Notifications</h4>
                <p>Notify when server status changes</p>
            </div>


            <label class="switch">

                <input type="checkbox" checked>

                <span class="slider"></span>

            </label>


        </div>


    </div>




    <div class="settings-card">


        <div class="settings-title">

            <i class="fa-solid fa-palette"></i>
            <h3>Appearance</h3>

        </div>



        <div class="setting-item">


            <div>
                <h4>Dark mode</h4>
                <p>Use dark interface theme</p>
            </div>


            <label class="switch">

                <input type="checkbox" checked>

                <span class="slider"></span>

            </label>


        </div>


    </div>



    <div class="settings-card about">


        <div class="settings-title">

            <i class="fa-solid fa-circle-info"></i>
            <h3>About</h3>

        </div>


        <p>
            Monitor Tools v1.0.0
        </p>

        <p>
            Developed by Alexandre Cardinha
        </p>


    </div>



</div>