<div id="page-content">

    <div class="home-header">

        <h1>Network Tools</h1>

        <p>
            Utilities for troubleshooting and managing network infrastructure.
        </p>

    </div>

<!--
    <div class="search-box">

        <input
            type="text"
            placeholder="Search tools...">

    </div>
-->
    <div class="tools-grid">

        <button class="tool-card" data-tool="ping" data-page="tools/ping.html">

            <div class="tool-icon">🌐</div>

            <h3>Ping</h3>

            <p>Check host connectivity.</p>

        </button>

        <button class="tool-card" data-tool="traceroute" data-page="tools/traceroute.html">

            <div class="tool-icon">📍</div>

            <h3>Traceroute</h3>

            <p>Trace the network path.</p>

        </button>

        <button class="tool-card" data-tool="dnslookup" data-page="tools/dnslookup.html">

            <div class="tool-icon">🌍</div>

            <h3>NSLookup</h3>

            <p>DNS lookup utility.</p>

        </button>

        <button class="tool-card" data-tool="whois" data-page="tools/whois.html">

            <div class="tool-icon">🔎</div>

            <h3>Whois</h3>

            <p>Domain information.</p>

        </button>

        <button class="tool-card" data-tool="whois" data-page="tools/portscan.html">

            <div class="tool-icon">📡</div>

            <h3>Port Scan</h3>

            <p>Check open TCP ports.</p>

        </button>

        <button class="tool-card" data-tool="rdp" data-page="tools/rdp.html">

            <div class="tool-icon">💻</div>

            <h3>Remote Desktop</h3>

            <p>Open RDP session.</p>

        </button>

    </div>

</div>